html {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

body {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

.navigationBar {
    height: 60px;
    width: 100%;
    margin: 0%;
}

.logo {
    width: 30px;
    height: 30px;
    float: left;

}

.banner-left {
    position: absolute;
    top: 20px;
    left: 100px;
}

nav ul li {
    font-size: 18px;
    float: left;
    margin-left: 40px;
    list-style-type: none
}

.Bar {
    float: left;
    position: relative;
    left: 600px;
    top: 10px;
    margin-left: 100px;
    border: none;
}

.banner-right {
    font-size: 18px;
    position: absolute;
    right: 100px;
    top: 24px;
    margin-left: 100px;
    border: none;
}

.login_text {
    position: relative;
    top: -2px;
    left: 10px;
    color: #DB573D;
}

.main {
    width: 100%;
    height: 90%;
}

.text {
    position: absolute;
    top: 300px;
    left: 100px;
}

.text h1 {
    font-size: 50px;
    color: white;
}

.text p {
    font-size: 20px;
    color: white;
}

.main_button {
    position: absolute;
    left: 100px;
    top: 550px;
    background-color: #DB573D;
    border: none;
    width: 300px;
    height: 60px;
    font-size: 30px;
    color: white;
}

.box {
    float: left;
}

.jpg {
    padding: 0%;
    margin: 0%;
    width: 40px;
    height: 40px;
    border: none;
    margin-left: 260px;
    margin-top: 50px;
}

.mes {
    text-align: center;
    font-size: 12px;
    color: #534141;
    position: relative;
    top: 60px;
    left: 130px;
    border-right: 2px solid black;
}

.box_2 {
    width: 100%;
    height: 300px;
    background-color: #C9C4C3;
    text-align: center;
    margin-top: 200px;
}

.box_3 {
    width: 100%;
    height: 300px;
    text-align: center;
}

.box_text {
    position: relative;
    top: -200px;
    color: white;
}

.select_box select {
    width: 240px;
    height: 30px;
    border: none;
    margin-right: 50px;
    background-color: white;
}

.box_4 {
    width: 100%;
    height: 500px;
    border: none;
    background-color: #C9C4C3;
    margin-top: -25px;
    padding: 0%;
}

.box_4_1 {
    position: absolute;
    left: 150px;
    margin-top: 50px;
    text-align: center;
}

.box_4 p {
    color: gray;
}

.box_4_2 {
    position: absolute;
    top: 210%;
    left: 500px;
    text-align: center;
}

.box_4_3 {
    position: absolute;
    top: 210%;
    left: 55%;
    text-align: center;
}

.box_4_4 {
    position: absolute;
    top: 210%;
    left: 75%;
    text-align: center;
}

.box_5 {
    width: 100%;
    height: 550px;
}

.box_5_1 {
    width: 66%;
    height: 100%;
    float: left;
}

.box_5_2 {
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
}

.box_5_2 .button {
    width: 100px;
    height: 35px;
    font-size: 13px;
    line-height: 35px;
    border: 1px solid #BE4F48;
    color: #BE4F48;
    margin-bottom: 5%;
    background-color: #fff;
    position: relative;
    left: 40%;
}

.box_5_2 p {
    color: gray;
}

.box_5_2 p:first-child>span {
    color: #BE4F48;
}

.box_5_2_1 {
    text-align: center;
    font-size: 15px;
    margin-left: 20%;
    margin-top: 20%;
}

.box_6 {
    height: 500px;
}

.box_6_1 {
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
    background-color: #E84E4C;
}
.box_6_1 .text {
    position: relative;
    top: 20%;
    left: -10px;
}
.box_6_1 p {
    font-size: 20px;
    color: white;
}

.box_6_1 .button {
    width: 150px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    border-width: 1px;
    border-style: solid;
    position: relative;
    top: 220px;
    cursor: pointer;
    border-radius: 0;
}

.box_6_2 {
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 18px;
}
.box_6_2 .text {
    position: relative;
    top: 20%;
    left: -10px;
}
.box_6_2 p {
    font-size: 20px;
    color: black;
}

.box_6_2 .button {
    width: 150px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    border-width: 1px;
    border-style: solid;
    position: relative;
    top: 220px;
    cursor: pointer;
    border-radius: 0;
}
.box_6_3 {
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
    background-image: url(../img/pic08.jpg);
}
.box_7{
    width: 100%;
    height: 200px;
    text-align: center;
}
.box_7 h2 {
   padding-top: 30px;
   padding-bottom: 50px;
}
.box_7 p {
    color: gray;
}
.box_8 {
    width: 100%;
    height: 550px;
}
.box_8_1 {
    margin-left: 5%;
    width: 40%;
    height: 100%;
    float: left;
}
.box_8_2 {
    margin-left: 5%;
    float: left;
    width: 50%;
    height: 100%;
}
.box_8_1_text {
    color: gray;
    font-size: 15px;
    padding-left: 10%;
    padding-bottom: 10%;
}
.box_8_2 input {
    border: 1px solid #E3E3E3;
    height: 40px;
    width: 300px;
    font-size: 14px;
    color: #4E3A4F;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: #E3E3E3;
}
.box_8_2 textarea {
    width: 620px;
    height: 160px;
    font-size: 14px;
    color: #4E3A4F;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: #E3E3E3;
    resize:none;
}
.box_9 {
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: #33363F;
}
.box_9 .mes {
    width: 50%;
    height: 150px;
    color: #F7F8FC;
    display: inline-block;
    border: none;
    margin-top: 80px;
    margin-left: -220px;
}
.box_9 p:first-child{
    font-size: 20px;
}
.box_9 p:last-child{
    font-size: 14px;
}
.box_9_text {
    width: 100%;
    height: 40px;
    display: inline-block;
    font-size: 0;
    margin-top: 50px;
}
.box_9_text input[type="email"]{
    width: 500px;
    height: 40px;
    font-size: 15px;
    padding-left: 10px;
    color: #75757F;
    border: none;
    position: relative;
    top: -1px;
}
.box_9_text input[type="email"]:focus{
    outline: 0;
}
.box_9_text input[type="submit"]{
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 5px;
    border: none;
    box-sizing: border-box;
    background-color: #75757F;
}
.box_9 .icon{
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 30px;
    display: inline-block;
    position: relative;
    top: 30px;
}
.box_9_text .icon i{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;

    -webkit-transition: font-size 0.4s ease-in-out;
    -moz-transition: font-size 0.4s ease-in-out;
    transition: font-size 0.4s ease-in-out;
}