body {
    padding: 0;
    margin: 0;
}
.div_1 {
    display: flex;
    justify-content: space-between;/*两端对齐，项目之间的间隔都相等*/
    align-items: center;
}
.div_2 {
    width: 150px;
    height: 130px;
    margin: 20px;
    border: 1px solid #f00;
}
.div_3 {
    width: 150px;
    height: 110px;
    border: 1px solid #f00;
}
.div_4 {
    width: 150px;
    height: 50px;
    border: 1px solid #f00;
}
.div_5 {
    width: 150px;
    height: 200px;
    margin: 20px;
    border: 1px solid #00f;
}
@media (max-width: 640px) {
    .div_5 {
        order: -1;
    }

    .div_1{
        flex-wrap: wrap;
        align-items: flex-start;
    }
}