* {
    margin: 0;
	padding: 0;
}
.div_box {
    position:absolute;
    left: 40%;
    top: 36%;
    width: 450px;
    height: 250px;
    background-color: #CCCCCC;
}
.left {
    position:absolute;
    width: 80px;
    height: 80px;
    border-radius: 0 0 80px 0;
    background-color: #FFCC00;
}
.right {
    position:absolute;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    border-radius: 80px 0 0 0;
    background-color: #FFCC00;
}