body {
  margin: 0;
}
.container {
    width: 100%;
    min-width: 1280px;
    font-family: '微软雅黑';
}
.header {
    width: 100%;
    height: 60px;
}
.logo {
    position: relative;
    left: 7%;
    height: 60px;
    width: 10%;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;
    background: url(../img/icon-1.png) no-repeat left;
    background-size: 15% 50%;
}
.logo h1 {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}
nav {
    height: 60px;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 38%;
}
nav ul {
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
    line-height: 60px;
    list-style: none;
}
nav ul li {
    display: inline-block;
    width: 19%;
    font-size: 13px;
    text-align: center;
}
a,a:link{
    color:#000;
    text-decoration:none;
    position:relative;
    padding:10px 15px;
}
a:after{
    content: "";
    width: 0;
    height: 3px;
    background: #E53C3C;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all .2s;
}
a:hover {
    color: #F04C57;
}
a:hover:after,a.active:after{
    left: 0%;
    width: 100%;
}
.right {
    font-size: 14px;
    height: 60px;
    width: 7%;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;
    position: relative;
    left: 50%;
    background: url(../img/icon-2.jpg) no-repeat left;
    background-size: 15px 18px;
}
.right a:link {
    color:  #E53C3C;
}
.section_1 {
    width: 100%;
    height: 650px;
    margin-top: -5px;
    background-image: url(../img/pic01.jpg);
    background-size: 100% auto;
}
.div_1 {
    position: absolute;
    top: 240px;
    left: 120px;
}
.div_1 p {
    font-size: 22px;
    color: #fff;
    margin: 0;
}
.div_1 h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 500;
    color: #fff;
}
.div_1 button {
    margin-top: 60px;
    width: 300px;
    height: 60px;
    font-size: 28px;
    color: #fff;
    border: none;
    background-color: #E53C3C;
}
.section_2{
    width: 100%;
    height: 240px;
}
.div_3 {
    width: 23%;
    display: inline-block;
    position: relative;
    top: 0;
}
.img {
    position: relative;
    top: 30px;
    width: 100%;
    height: 130px;
    display: inline-block;
    line-height: 150px;
    text-align: center;
}
.text {
    width: 100%;
    height: 60px;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    border-right: 2px solid #534141;
}
.div_3:hover .text {
    color: #E53C3C;
}
.section_3 {
    width: 100%;
    height: 360px;
    background-color: #EDEAEA;
    text-align: center;
}
.img_1 {
    position: relative;
    top: 70px;
}
.text_1 {
    position: relative;
    top: 80px;
    font-size: 50px;
}
.section_4 {
    width: 100%;
    height: 300px;
    padding-top: 80px;
    box-sizing: border-box;
    text-align: center;
    background: url(../img/pic02.jpg);
    background-size: cover;
}
.div_4 p {
    color: #fff;
}
.div_4 p:first-child {
    font-size: 23px;
}
.div_4 p:last-child {
    font-size: 13px;
}
.div_4 hr {
    width: 50px;
    align: center;
    border-top: 2px solid #fff;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.div_4 hr:hover {
    width: 300px;
}
select {
    width: 240px;
    height: 36px;
    margin: 0 10px;
    position: relative;
    top: 30px;
    font-size: 14px;
    color: #B3B3B3;
}
option {
    font-size: 14px;
    color: #B3B3B3;
}
input[type="text"] {
    width: 240px;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 30px;
}
input[type="submit"] {
    width: 240px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    margin: 0 10px;
    border: 0;
    outline: 0;
    background-color: #BE4F48;
    color: #fff;
    letter-spacing: 30px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 33px;
}
input[type="submit"]:hover{
    background-color: #E31212;
    border-radius: 3px;
}
.section_5 {
    width: 100%;
    height: 500px;
    background-color: #EDEAEA;
}
.img_2 {
    width: 23%;
    padding-top: 50px;
    float: left;
    text-align: center;
}
.img_2 p:first-child{
    font-size: 14px;
    color: #44403F;
}
.img_2 p:last-child {
    font-size: 12px;
    color: #B3AFAC;
}
.img_2:nth-child(2)> p:first-child{
    font-size: 24px;
    text-indent: 30px;
    letter-spacing: 30px;
}
.section-6 {
    width: 100%;
    height: 560px;
}
.left {
    width: 67%;
    height: 550px;
    float: left;
    position: relative;
    background: url(../img/pic07.jpg) no-repeat;
    background-size: cover;
}
.text_2 {
    margin-top: 180px;
}
.text_2 p {
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin: 0;
}
.left::after{
    content: '';
    position: absolute;
    border-width: 30px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    top: 250px;
    left: 100%;
    margin-left: -60px;
}
.right_1 {
    height: 550px;
    margin-left: 67%;
    text-align: center;
}
.div_6 {
    width: 300px;
    height: 300px;
    margin-left: 150px;
}
.right_1 p {
    margin: 0;
}
.right_1 p:first-child{
    font-size: 20px;
    font-weight: 700;
    padding-top: 180px;
    margin-bottom: 30px;
}
.right_1 p:first-child>span {
    color: #BE4F48;
}
.right_1 p:last-child{
    text-align: left;
    line-height: 25px;
    font-size: 14px;
    color: #B3AFAC;
    margin-bottom: 60px;
    
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}
.input {
    margin-top: 20px;
}
.button {
    width: 100px;
    height: 35px;
    margin-top: 50px;
    font-size: 13px;
    display: inline-block;
    line-height: 35px;
    border: 1px solid #BE4F48;
    color: #BE4F48;
    background-color: #fff;
    cursor: pointer;
}
.section_7 {
    width: 100%;
    height: 520px;
}
.div_7 {
    width: 68%;
    height: 520px;
    float: left;
}
.cell {
    display: inline-block;
    width: 48%;
    height: 520px;
    font-size: 20px;
    text-align: center;
    position: relative;
}
.cell:first-child{
    background-color: #E84E4C;
    color: #fff;
}
.mes {
    margin-top: 180px;
}
.mes hr{
    width: 50px;
    align: center;
    border-top: 2px solid #fff;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.mes hr:hover {
    width: 300px;
}
.cell:nth-of-type(2) .mes hr{
    border-top: 2px solid #ADADAD;
}
.btn{
    width: 150px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    border-width: 1px;
    border-style: solid;
    position: relative;
    top: 20px;
    cursor: pointer;
    border-radius: 0;
}
.cell:first-child .btn:hover{
    color: #E84E4C;
    background-color: #fff;
    border-radius: 3px;
}
.cell:last-child .btn:hover{
    color: #fff;
    background-color: #E84E4C;
    border-radius: 3px;
}
.cell:last-child::after{
    content: '';
    position: absolute;
    border-width: 50px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    top: 240px;
    left: 100%;
}
.img_3 {
    height: 520px;
    margin-left: 67%;
    background: url(../img/pic08.jpg) no-repeat;
    background-size: cover;
}
.section_8 {
    width: 100%;
    height: 800px;
}
.top {
    width: 100%;
    height: 300px;
    text-align: center;
}
.top .div_8 {
    position: relative;
    top: 100px;
}
.top .div_8 p {
    margin: 0;
}
.top .div_8 p:nth-of-type(1){
    font-size: 18px;
}
.top .div_8 p:nth-of-type(2){
    font-size: 14px;
    color: #B3AFAC;
}
.top .div_8 hr {
    width: 50px;
    align: center;
    border-top: 2px solid #E84E4C;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.top .div_8 hr:hover {
    width: 300px;
}
.left_1 {
    width: 30%;
    height: 400px;
    margin-left: 280px;
    display: inline-block;
    text-align: left;
}
.left_1 .div_8{
    width: 350px;
    height: 130px;
}
.left_1 .div_8 span{
    font-size: 14px;
    color: #B3AFAC;
    float: right;
    cursor: pointer;
}
.left_1 .div_8 p:nth-of-type(1){
    font-size: 16px;
    color: #6C5C5C;
}
.left_1 .div_8 p:nth-of-type(2){
    font-size: 14px;
    color: #B3AFAC;
    margin-bottom: 0;
}
.right_2 {
    width: 700px;
    height: 400px;
    display: inline-block;
    font-size: 20px;
    text-align: left;
}
.right_2 input[type="text"]{
    height: 40px;
    width: 300px;
    font-size: 14px;
    color: #4E3A4F;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: #E3E3E3;
}
.right_2 textarea{
    width: 620px;
    height: 160px;
    font-size: 14px;
    color: #4E3A4F;
    box-sizing: border-box;
    margin-top: 45px;
    margin-left: 13px;
    border: 0;
    outline: 0;
    background-color: #E3E3E3;
    resize:none;
}
.right_2 input[type="submit"]{
    width: 620px;
    height: 40px;
    font-size: 14px;
    color: #4E3A4F;
    text-align: center;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background-color: #E3E3E3;
}
.section_9 {
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: #33363F;
}
.div_9 {
    width: 100%;
    height: 150px;
    color: #F7F8FC;
    display: inline-block;
    margin-top: 80px;
}
.div_9 p:first-child{
    font-size: 20px;
}
.div_9 p:last-child{
    font-size: 14px;
}
.text_3 {
    width: 100%;
    height: 40px;
    display: inline-block;
}
.text_3 input[type="email"] {
    width: 500px;
    height: 40px;
    font-size: 15px;
    box-sizing: border-box;
    padding-left: 10px;
    color: #75757F;
}
.text_3 button {
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: #75757F;
    cursor: pointer;
}
.icon {
    margin-top: 20px;
}
footer{
    width: 100%;
    height: 66px;
    text-align: center;
    background-color: #30303A;
}
.div_10 {
    float: left;
}
.div_10 span{
    margin-left: 60px;
    font-size: 13px;
    color: white;
    cursor: pointer;
}
.back a {
    float: right;
    font-size: 13px;
    color: white;
}