body{
  padding: 20px;
  font-family: "微软雅黑";
  font-size: 15px;
}
.div_box{
  margin: 0 auto;
  padding: 20px;
  background-color:  #eee;
  border: 1px solid black;
  overflow: auto;
  min-width: 600px;
}
.div_left{
  float: left;
  padding: 20px;
  width: 170px;
  border: 1px solid black;
  background-color: white;
}
.img_left{
  float: left;
  width: 90px;
  height: 90px;
}
.name{
  font-size: 20px;
  text-align: center;
}
.div_right{
  width: 120px;
  float: right;
  background: white;
  border: 1px solid black;
}
.img_right{
  float: left;
  display: block;
  margin: 15px;
  width: 90px;
  height: 90px;
}
.div_middle{
  padding: 20px;
  margin-left: 230px;
  margin-right: 140px;
  background-color: white;
  border: 1px solid black;
}