* {
    margin: 0;
    padding: 0;
}
ul {
    margin-top: 10px;
    vertical-align: bottom;
}
li {
    display: inline-block;
    margin-left: 5px;
    width: 15px;
    background-color: #E21519;
    color: #FFFFFF;
    list-style-type: none;
}
.mid {
    position: relative;
    top: 100px;
    left: 30%;
    width: 600px;
    height: 600px;
}