*{
    font-family: Microsoft YaHei;
    margin: 0;
    padding: 0;
}
div{
    margin: 20px;
}
ul{
    margin-top: 10px;
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content:flex-start;
    align-items:flex-end;
}
li{
    display: inline-block;
    margin: .5%;
    color:white;
    background: purple;
    font-weight: bold;
    padding: .5%;
}
li:hover{
    cursor: pointer;
}
input{
    width:260px;
}
textarea{
    display: block;
    margin-bottom: 10px;
}